/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 14, 2025, 11:46:06 AM
    Author     : admin
*/

.Main{
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
    -fx-spacing: 20;
}
.Subject{
    -fx-fill:  #222831;
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-stroke: #FF8C00;
    -fx-stroke-width: 2;
}
.Button{
    -fx-background-color:#DFF6FF;
    -fx-text-fill: #222831;
    -fx-font-weight: bold;
    -fx-pref-width: 200;
}