/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 15, 2025, 9:22:13 PM
    Author     : admin
*/
.Main{
    -fx-alignment: center;
    -fx-padding:10;
    -fx-spacing: 10;
    -fx-background-color: #333333;
}
.Subject{
    -fx-font-weight: bold;
    -fx-font-size:36;
    -fx-stroke: antiquewhite;
    -fx-stroke-width:2.5;
    -fx-fill:white;
}
.Button{
    -fx-pref-width:150;
    -fx-background-color: darkgray; 
    -fx-font-weight: bold;
}
.TextFlow{
    -fx-background-color: darkgray; 
}